@import 'bootstrap';

html,
body {
  height: 100%;
}

%homepage-shadow {
  text-shadow: $homepage-shadow-color 1px 1px 2px;
}

%heading {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.heading-underline {
  width: 200px;
  border-top: 6px double $brand-primary;

  section & {
    margin-bottom: 5em;
  }
}

.section-heading-lg {
  @extend %heading;

  margin-top: 2em;

  @media (min-width: $screen-sm-min) {
    font-size: 4 * $font-size-base;
  }
}

%image-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-size: cover;
}

// Modification of jumbotron: Centers all content to the middle of screen.
//
// Responsive: Vertical centering is removed completely on screens with small
// height. Also space above .btn-hire is reduced.
//
// .btn-more is "arrow in circle" link to inform user that there is another
// content below fold.
.jumbotron-full {
  $jumbotron-color: #fff;
  $jumbotron-bg: #000;

  @extend .jumbotron;

  position: relative;
  height: 100%;
  margin-bottom: 0;
  padding: 0;

  color: $jumbotron-color;
  background-color: $jumbotron-bg;
  text-align: center;

  .container {
    position: absolute;
    top: 8%;
    width: 100%;
  }

  // it's a 40px more than $screen-phone because of Android
  @media (min-height: 520px) {
    .container {
      top: 50%;
      transform: translate(0, -50%);
    }

    .btn-hire {
      margin-top: 8em;
    }
  }

  .background {
    @extend %image-background;

    background-image: url('/static/img/placeholder_head.jpg');
    background-position: 40%;
    opacity: 0.75;
  }

  h1 {
    @extend %heading;
  }

  h1,
  .lead {
    @extend %homepage-shadow;
  }

  .lead {
    font-weight: 500;
  }

  @media (min-width: $screen-sm-min) {
    h1 {
      font-size: 6 * $font-size-base;
    }

    .lead {
      font-size: 2.3em;
    }
  }

  .btn-hire {
    @extend .btn;
    @extend .btn-primary;

    padding: $padding-large-vertical 2*$padding-large-horizontal;
    border: 0;
    border-radius: 0;
    font-size: 1.6em;
    line-height: 1.7;

    box-shadow: lighten($homepage-shadow-color, 20%) 2px 2px 4px;

    @media (min-width: $screen-sm-min) {
      font-size: 2em;
    }
  }

  .btn-more {
    position: absolute;
    bottom: 0;
    left: 50%;

    display: block;
    margin-bottom: 1em;

    border: 1px solid $jumbotron-color;
    border-radius: 100%;

    color: $jumbotron-color;
    font-size: 2em;
    transform: translate(-50%, 0);

    @media (min-width: $screen-sm-min) {
      border: 2px solid $jumbotron-color;
      font-size: 2.5em;
    }
  }
} // end jumbotron

// Brief introduction to our team (one paragraph description)
.description {
  @extend .lead;

  padding: 0 $padding-large-horizontal 30px;
  background-color: $jumbotron-bg;
  text-align: center;

  @media (min-width: $screen-sm-min) {
    padding: 0 $padding-large-horizontal 100px;
    font-size: $font-size-base * 1.8;
  }
}

// List of services we offer.
.offer-list {
  @extend .list-unstyled;
}

// Team member cards.
.team-member-list {
  @extend .list-unstyled;
  @include make-row();
}

// Large screen are large enough to fit all four cards.
.team-member {
  @include make-md-column(6);
  @include make-lg-column(3);
}

// Footer
footer {
  position: relative;

  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;

  background-color: $footer-bg;
  text-align: center;

  &,
  a,
  a:hover {
    @extend %homepage-shadow;

    color: $footer-color;
  }

  @media (min-width: $screen-sm-min) {
    padding-top: 80px;
    padding-bottom: 10px;
  }

  .background {
    @extend %image-background;

    background-image: url('/static/img/footer_brno.jpg');
    background-position: 80%;
    opacity: 0.6;
  }

  .contacts {
    @include make-row();
  }

  .contact {
    @include make-sm-column(4);
    font-size: 1.2 * $font-size-base;

    @media (min-width: $screen-sm-min) {
      font-weight: lighter;
      font-size: 1.5 * $font-size-base;
    }
  }

  .contact-header {
    font-size: $font-size-h4;
    text-transform: uppercase;
  }

  .links-social,
  .passion,
  .copyright {
    @include make-sm-column(12);
  }

  .links-social {
    @extend .list-inline;

    margin-top: 1em;
    margin-bottom: 1em;

    font-size: 2 * $font-size-base;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 2em;
    }
  }
}
