- var emailHire = "dev@onestopsource.io"

doctype
html(lang="en")
  head
    title One Stop Source - Independent team of full-stack developers

    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/static/css/onestopsource.css")

    if !debug
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-62652331-1', 'auto');
        ga('send', 'pageview');

  body
    a(name="top")
    .jumbotron-full
      .background
      .container
        h1 One Stop Source
        hr.heading-underline
        p.lead Independent Team of Full-Stack Developers
        a.btn-hire(href="mailto:" + emailHire) Hire us

      a.btn-more(href="#introduction")
        i.fa.fa-angle-down.fa-fw

    .description
      .container
        a(name="introduction")
        h2.section-heading-lg We are
        hr.heading-underline
        p.
          the #[strong one stop source] of sharp solutions in software
          development. You can #[a(href="mailto:" + emailHire) hire] our team to
          create your application #[strong from scratch] or help you to solve
          your specific problem #[strong on site].

    section.offer
      .container
        h2.section-heading-lg What we do
        hr.heading-underline
        ul.offer-list
          li.offer-item
            h3 Webapps development
            p.
              We have 5+ years of experience in design and development of fast,
              reliable and high available websites.
          li.offer-item
            h3 DevOps
            p.
              We analyze and design server infrasturcutre for client's needs.
              Automatization of repetitive tasks is essense of our workflow – from
              managing servers to deployment of applications.
          li.offer-item
            h3 Mentoring
            p.
              We are able to pass our knowledge to your team or company. We
              regularly speak at local meetups and workshops.

    section.team
      .container
        h2.section-heading-lg Our team
        hr.heading-underline
        ul.team-member-list
          li.team-member
            h3 Stanislav Komanec #[small @netman92]
            p.
              Our leader of innovation who folows the latest trends and bleeding
              edge technologies.
            p.
              During off-season he manages his mini dam with rainbow trouts.

          li.team-member
            h3 Martin Matuszek #[small @naomak]
            p.
              Perfectionist, who always guarantees the hight quality of the
              final product.
            p.
              He moves smoothly even when he dances swing.

          li.team-member
            h3 Tomáš Ehrlich #[small @tricoder]
            p.
              Optimist whose full-stack passion ranges from civil engineering
              through coding to astrophysics.
            p.
              The sedentary life he complements with endurance sports and
              triathlon.

          li.team-member
            h3 Martin Hořák #[small @styrax]
            p.
              The dark side guy preferring dungeons of backend stuff and code
              between lines.
            p.
              He enjoys night life as a pure techno DJ.

  footer.background-brno
    .background
    .contact
      h3.contact-header
        i.fa.fa-fw.fa-phone
        | Call us

      a(href="call:+420608219889") +420 608 219 889

    address.contact
      h3.contact-header
        i.fa.fa-fw.fa-map-marker
        |We live in
      | Brno, Czech Republic

    .contact
      h3.contact-header
        i.fa.fa-fw.fa-envelope
        |  Write us
      a(href="mailto:" + emailHire) #{emailHire}

    ul.links-social
      li
        i.fa.fa-fw.fa-twitter
      li
        a(href="https://www.linkedin.com/company/one-stop-source")
          i.fa.fa-fw.fa-linkedin

    p.copyright &copy; 2015 One Stop Source

    p.passion.
      Made with ♥ in Brno, Czech republic at 6th May 2015, around 19 pm, while
      enjoying Chardonnay.

   //script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")