doctype
html
  head
    title One Stop Source

  body
    .jumbotron
      h1 One Stop Source
      p.lead.
        Team of independent full-stack developers cooperating together towards
        the common goal - create great products and help customers to grow their
        businesses. We are the #[strong one stop source] of innovative
        solutions.
